[Unit]
Description=radio_handler
After=mosquitto.service
Wants=mosquitto.service

[Service]
User=rsalmon
ExecStart=/app/alarmclock-webradio/service_radio.sh

[Install]
WantedBy=multi-user.target
