[Unit]
Description=rotary_handler
After=time-sync.target
Wants=time-sync.target
After=mosquitto.service
Wants=mosquitto.service


[Service]
User=rsalmon
ExecStart=/app/alarmclock-webradio/service_rotary.sh

[Install]
WantedBy=multi-user.target
