[Unit]
Description=menu_handler
After=time-sync.target
Wants=time-sync.target

[Service]
User=rsalmon
ExecStart=/app/alarmclock-webradio/service_menu.sh

[Install]
WantedBy=multi-user.target
